<ion-nav-bar
        type="bar-calm"
        animation="nav-title-slide-ios7" 
        back-button-type="button-icon button-clear" 
        back-button-icon="ion-ios7-arrow-back"></ion-nav-bar>
<ion-view title="Live Channel" hide-back-button="true">
  <ion-content has-header="true" has-tabs="true">
    <div class="card">

      <div class="item item-avatar">
        <img src="https://yt3.ggpht.com/-H5NtgyCUESE/AAAAAAAAAAI/AAAAAAAAAAA/P_F9nQRUdFE/s48-c-k-no/photo.jpg">
        <h2>大腸花之終極密碼</h2>
        <p>音地大地</p>
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-radio-waves"></i>
        立即收看 YouTube
      </a>

    </div>
    <div class="card">

      <div class="item item-avatar">
        <img src="https://yt3.ggpht.com/-H5NtgyCUESE/AAAAAAAAAAI/AAAAAAAAAAA/P_F9nQRUdFE/s48-c-k-no/photo.jpg">
        <h2>魚腸花之朵朵開</h2>
        <p>17747496</p>
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-radio-waves"></i>
        立即收看 Ustream
      </a>

    </div>
  </ion-content>
</ion-view>