<ion-nav-bar
        type="bar-assertive"
        animation="nav-title-slide-ios7" 
        back-button-type="button-icon button-clear" 
        back-button-icon="ion-ios7-arrow-back"></ion-nav-bar>
<ion-view title="支持開發者" hide-back-button="true" left-buttons="leftButtons">
  <ion-content has-header="true" has-tabs="true">
    <div class="list">
      <a href="mailto:yutin@inlive.tw" target="_blank" class="item item-icon-left">
        <i class="icon ion-flask"></i>
        回報錯誤 yutin@inlive.tw
      </a>
      <a href="mailto:yutin@inlive.tw" target="_blank" class="item item-icon-left">
        <i class="icon ion-flask"></i>
        推薦頻道 yutin@inlive.tw
      </a>
    </div>

    <br />

  </ion-content>
</ion-view>