<ion-nav-bar
        type="bar-assertive"
        animation="nav-title-slide-ios7" 
        back-button-type="button-icon button-clear" 
        back-button-icon="ion-ios7-arrow-back"></ion-nav-bar>
<ion-view title="Live Channel" hide-back-button="true">
  <ion-content has-header="true" has-tabs="true">
    <div class="card" ng-repeat="live in lives">

      <div class="item item-avatar">
        <img src="http://static-cdn1.ustream.tv/images/defaults/user_66x66:1.png">
        <h2>{{live.title}}</h2>
        <p>bananana</p>
      </div>

      <a class="item item-icon-left assertive" target="_blank" href="{{live.url}}">
        <i class="icon ion-radio-waves"></i>
        立即收看 {{live.type}}
      </a>

    </div>

    <br />

  </ion-content>
</ion-view>