<ion-nav-bar
  type="bar-assertive"
  animation="nav-title-slide-ios7" 
  back-button-type="button-icon button-clear" 
  back-button-icon="ion-ios7-arrow-back">
</ion-nav-bar>
<ion-view title="{{title}}" hide-back-button="true" right-buttons="rightButtons">
  <ion-content has-header="true" has-tabs="true">
    <div class="card" ng-repeat="live in lives">
      <div class="item item-avatar" ng-click="setLocation(live)">
        <img src="{{live.logo}}">
        <h2>{{live.title}}</h2>
        <p>{{live.location ? live.location : '知道在哪直播嗎？'}}</p>
      </div>

      <div class="item item-body">
        <a class="subdue" ng-click="open('{{live.shorten}}')">
          網址:&nbsp;
          <span class="highlight">{{live.shorten}}</span>
        </a>
      </div>

      <a class="item item-icon-left assertive" ng-click="stream(live)">
        <i class="icon ion-radio-waves"></i>
        立即收看 {{live.type}}
      </a>
    </div>
    
    <div class="card" ng-hide="lives.length>0">
      <button class="button button-block icon-left ion-loop" ng-click="fetch('reload')">
        點擊更新直播
      </button>
    </div>

    <div class="card">
      <a class="item item-icon-left" href="#/tab/channel">
        <i class="icon ion-grid"></i>
        瀏覽更多公民頻道
      </a>
    </div>

    <br />

  </ion-content>
</ion-view>