<ion-nav-bar
  type="bar-assertive"
  animation="nav-title-slide-ios7" 
  back-button-type="button-icon button-clear" 
  back-button-icon="ion-ios7-arrow-back">
</ion-nav-bar>
<ion-view title="推播" hide-back-button="true" right-buttons="rightButtons">
  <ion-content has-header="true" has-tabs="true">
    <div class="card">
      <div class="item item-text-wrap">
        想加入公民記者嗎？<br/>
        歡迎Email至 <a href="mailto:yutin@inlive.tw">yutin@inlive.tw</a>
      </div>
    </div>

    <form name="pushForm" ng-submit="push(user)">
      <div class="list list-inset">
        <label class="item item-input item-stacked-label">
          <span class="input-label">訊息內容</span>
          <input type="text" placeholder="請陳述事實為勿煽動與挑釁" required>
        </label>
        <button ng-disabled="pushForm.$invalid" type="submit" class="button button-positive button-block">送出</button>
      </div>
    </form>

  </ion-content>
</ion-view>