<ion-nav-bar
        type="bar-assertive"
        animation="nav-title-slide-ios7" 
        back-button-type="button-icon button-clear" 
        back-button-icon="ion-ios7-arrow-back"></ion-nav-bar>
<ion-view title="設定" hide-back-button="true">
  <ion-content has-header="true" has-tabs="true">
    <div class="list">
      <a class="item item-icon-left" ui-sref="tab.listen">
        <i class="icon ion-paper-airplane"></i>
        通知設定
      </a>
      <a class="item item-icon-left" ui-sref="tab.notification">
        <i class="icon ion-ios7-albums-outline"></i>
        過期的通知
      </a>
      <a class="item item-icon-left" ui-sref="tab.developer">
        <i class="icon ion-flask"></i>
        支持開發者
      </a>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
<p>
讓我們一起看見台灣, inLive.TW要把社運．救災現場的即時畫面立即傳送出去, 成為公民記者最有力的發聲管道.<br/>
<br/>
公民記者為人們服務的是：<br/>
<span style="font-size:10px">
隨選, 多視角選擇給予二十四小時不漏畫面.<br/>
互動, 即時與記者交談並獲得想知道的影音.<br/>
真相, 直播的所有頻道皆不經處理原味呈現.<br/>
</span>
<br/>
獨立媒體, 有別於主流要成為不受政權．財團．政黨支配的「公民之眼」, 促進事件的深入探討, 讓真相不被掩蓋.
</p>
      </div>
    </div>

    <br />

  </ion-content>
</ion-view>